.MovieDetailsView {
  width: 100%;
  display: flex;
  text-align: left;
  align-items: flex-start;
}

.MovieDetailsView__info {
  margin-left: 2em;
  flex-grow: 1;
}

.MovieDetailsView__more {
  margin-top: 2em;
  border-top: 1px solid #555555;
}
